<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GmailTestSuite" parallel="methods" thread-count="4" >
    <listeners>
        <listener class-name="com.automation.driver.WebDriverListener"/>
    </listeners>
    <test name="GmailTest">
        <parameter name="browser" value="${browser}"/>
        <classes>
            <class name="Tests.GmailTestSuite.GmailTest" />
        </classes>
    </test>
</suite>